.ani {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7e9d7;
}
.text {
  font-size: 2rem;
  font-weight: bold;
  color: #ff5733;
  position: relative;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
